DB_ENGINE=django.db.backends.postgresql # указываем, что работаем с postgresql
DB_HOST=db # имя контейнера, как указано в docker-compose.yml
DB_NAME=postgres # имя базы
DB_PORT=5432 # порт для подключения к БД
POSTGRES_USER=postgres # логин для подключения к базе данных
POSTGRES_PASSWORD=password # пароль для подключения к БД
DOCKER_USERNAME= # имя своего аккаунта на DockerHub
DOCKER_PASSWORD= # пароль от DockerHub
HOST= # ip своего сервера
USER= # имя своего сервера
SSH_KEY= # приватный ssh ключ для подключения к git
TELEGRAM_TO= # id вашего аккаунта в Telegram
TELEGRAM_TOKEN= # токен вашего телеграм бота
